@import 'UTF-8';

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    margin: 5%;
}

.container {
    text-align: center;
    margin: auto;
    margin-top: 5%;
    max-width: 35vw;
}

.pergunta {
    font-size: 2.5rem;
}

.resposta {
    margin-top: 5%;    
    font-size: 1.6rem;
    text-indent: 5%;
    line-height: 2em

}

.separacao-conteudo {
    margin: 5%;
    background-color: rgb(32, 146, 223);
    padding: 0.5%;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 1px rgb(126, 125, 125);
}

form {
    border: 1px solid;
    padding: 5%;
    margin: 30px;
    font-size: 1.5rem;
}

form > label {
    font-weight: bold;
}

form > input {
    font-weight: bold;
}

.titulo-input {
    margin: 3%;
}

span {
    font-size: 2.2rem;
    color: red;
    text-align: center;
    font-weight: bold;
}

